#fleming-joffe{
    background-color: #3c3820;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 70px;
}

.full-width-img{
    width: 90%;
    height: 40%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-top: 150px;
}

.full-width-img-olive{
    width: 70%;
    margin-left: 15%;

}

body{
    font-family: 'EdelmanChromatic-GrotesqueRegular';
}

p{
    font-family: 'EdelmanChromatic-GrotesqueRegular' !important;
    color: #4D4726;
}

h2{
    color: #F1EFE1;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
}

.andy-header{
    line-height: 1.2;
    text-align: left;
    color: #4D4726;
}

body{
    font-family: "EdelmanChromatic-GrotesqueRegular" !important;
    font-weight: normal;
    overflow-x: hidden;
}

.section-header{
    position: absolute;
    text-align: center;
    margin-top: -50%;
    width: 90%;
}

.section-header-olive{
    position: absolute;
    text-align: center;
    margin-top: -35%;
    width: 90%;
}

.section-header h2{
    text-align: center;
}

.caption{
    color: white;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.caption-black{
    color: #4D4726;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.carousel-img-caption{
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.bodycopy-full-width{
    /* background-color: #edede8; */
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
}

.bodycopy-full-width-olive{
    background-color: #3c3820;
    padding-top: 120px;
    padding-bottom: 120px;
}


.bodycopy-full-width-olive p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    width: 60%;
    margin-left: 20%;
}


.bodycopy-full-width p{
    color: #4D4726;
    font-size: 16px;
    line-height: 1.5;
    width: 60%;
    margin-left: 20%;
}

.bodycopy-right p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.bodycopy-right{
   width: 45%;
    margin-left: 40%;
    margin-bottom: 80px;
    margin-top: 100px;
    border-left: 0.5px solid white;
    padding-left: 50px;

}

#left-half-andy{
    width: 30%;
    padding-left: 10px;
}

#right-half-andy{
    width: 70%;
}

.intro-text{
    width: 70%;
    margin-left: 20%;
    border-left: 1px solid #4D4726;
    padding-left: 50px;
}

.bodycopy-left{
    width: 45%;
     margin-left: 20%;
     margin-bottom: 80px;
     margin-top: 100px;
     border-left: 0.5px solid white;
     padding-left: 50px;
 }

 .bodycopy-left-black{
    width: 45%;
     margin-left: 20%;
     margin-bottom: 80px;
     margin-top: 100px;
     border-left: 0.5px solid #4D4726;
     padding-left: 50px;
 }



 .bodycopy-right-black{
    width: 45%;
     margin-left: 40%;
     margin-bottom: 80px;
     margin-top: 100px;
     border-left: 0.5px solid #4D4726;
     padding-left: 50px;
 }

 .bodycopy-left-black p{
    color: #4D4726;
     }

 .bodycopy-right-black p{
color: #4D4726;
 }



 .bodycopy-left p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.black{
    color: #4D4726 !important;
}

.copy-section{
    position: relative;
}

.growing-border{
    position: absolute;
    left: 10vw;
    top: 50vh;
    height: 0;
    border-left: 1px solid white;
    transition: height 0.2s ease-out;

}

.medium-img-right{
    width: 60%;
    margin-left: 40%;

}

.medium-img-right-caption{
    margin-left: 40%;
    margin-top: 15px;
    margin-bottom: 100px;
    color: white;
    font-size: 12px;
}


.image-scroll img{
    height: 24vh;
    padding-left: 10px;
}

.image-scroll-two img{
    height: 24vh;
}

.image-scroll{
margin-top: 120px;
margin-left: 3vw;
width: 90%;
margin-bottom: 150px;
}

.image-scroll-two{
    margin-top: 120px;
    margin-left: 3vw;
    width: 90%;
    margin-bottom: 100px;
    }

.slick-prev{
    height: 20px;
}

.slick-next{
    height: 20px;
}


  .progress-container {
    margin-left: 5%;
    margin-top: -80px;
    width: 90%;
    background-color: #e0e0e0;
    height: 2px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar {
    width: 20%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: #9ca291;
    transition: left 0.3s ease; /* Smooth transition */
  }

  #readmore{
    background-color: none;
    border: #4D4726 0.5px solid;
    color: #4D4726;
    padding: 12px;
    margin-top: 15px;
    margin-left: 36%;
  }

  #readmore:hover{
    background-color: #4D4726;
    color: #F1EFE1;
    transition: background-color ease-in-out 0.3s;
  }

  #andy-illustration{
    mix-blend-mode: multiply;
    width: 250px;
    margin-left: 20px;
    margin-top: -200px;
  }

  #halfandhalf{
   display: inline-flex;
   width: 100%;
   justify-content: space-between;
   margin-top: 70px;
  }

  #left-half{
    width: 49%;
  }

  #left-half img{
    width: 100%;
  }

  #right-half{
    width: 49%;
  }



  #right-half img{
    width: 100%;
  }

  #scroll-to-top{
    display: inline-block;
    text-decoration: none;
    text-decoration-color: #4D4726;
    z-index: 0;
    position: fixed;
    top: 95vh;
    right: 10%;
  }


  #scroll-to-top p a{
    text-decoration-color: #4D4726;
    text-decoration: none;
  }



  #scroll-to-top p a:visited{
    color: #4D4726;
  }

  #scroll-to-top p a:hover{
    text-decoration-color: #4D4726;
    color: #4D4726;
  }

  #canvas{
display: block;
margin-top: 70px;
width: 100%;
height: 100vh;
background-color: white;
border: 1px solid #4D4726;
  }